<!DOCTYPE html>
<html>
<head>
    <style>
        a:link, a:visited {
            background-color: #1DB954;
            color: black;
            margin-top: 10px;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        a:hover, a:active {
            background-color: #14833b;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Welcome to your PlaylistMonkey Dashboard!</h1>
    <p>Here you can manage your playlists, favorite artists, and songs.</p>
    <p>Options:</p>
    <a href='/get_playlists'>View Your Playlists</a>
    <a href='/top_artists'>View Your Favorite Artists</a>
    <a href='/top_tracks'>View Your Favorite Songs</a>
    <a href = '/organize_liked'>Organize your Liked Songs</a>
</body>
</html>
