<!DOCTYPE html>
<html>
<head>
<style>
    a:link,a:visited {
        background-color: #1DB954;
        color: black;
        margin-top: 10px;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active {
        background-color: #14833b;
        color: white;
    }
</style>
</head>
    <body>
        <h1>Welcome to PlaylistMonkey!</h1>
        <p>PlaylistMonkey is a tool to help you create and manage your favorite artists,songs, and playlists!</p>
        <p>Options:</p>
        <a href="/login">Login</a>


    </body>
</html>
